{% extends 'base.html' %}

{% block title %}Send Mailing{% endblock %}

{% block content %}
<h1>Send Mailing</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="mailing">Select Mailing:</label>
        <select name="mailing" id="mailing">
            {% for mailing in mailings %}
                <option value="{{ mailing.id }}">{{ mailing.message.subject }} ({{ mailing.status }})</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Send Mailing</button>
</form>
{% endblock %}
